falcon==1.1.0
beautifulsoup4==4.5.1
python-consul==0.7.0
gunicorn==19.7.1
Sphinx==1.6.2
newspaper3k==0.2.2
statsd==3.2.1
jsonschema==2.6.0
-e git+https://github.com/topicaxis/opengraph.git#egg=opengraph
-e git+https://github.com/pmatigakis/RAKE.git#egg=RAKE
-e git+https://github.com/topicaxis/metricslib.git@v0.1.0#egg=metricslib